.newsletter_group input,
.newsletter_group button {
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding: 5px 10px;

}

.newsletter_group button {
    background-color: coral;
    color: white;
}
