/*Variables*/

/*Fuentes*/
$font_1: 'Old Standard TT', serif;
$font_2: 'Raleway', sans-serif;

/*Font Sizes*/
$xxx-large: 50px;
$xx-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

/* Font weight*/
$bold: 700;
$regular: 400;


/*Paleta de Colores*/

/*Paleta de Negros*/
$smokyblack: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;



/*Paleta de Blancos*/
$white: #fff;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
