.container {
  width: 97%;
  position: relative;
  padding-right: 15px;
  padding-right: 15px;
  margin: auto;
}

.box1, .box_central_box2, .box_central_box3, .box_central {
	width: 100%;
}

.box_central_box3{
  font-family: $font_1;
  background-color: $smokyblack;
  color: $white;
  padding: 5%;
}


h1 {
  font-family: $font_1;
}

p {
  font-family: $font_2;
  line-height : 30px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $granite-gray;
  box-sizing: border-box;
}

@media (min-width: 500px) {

  img{
    width: 485px;
  }

.box1{
  text-align: center;
}

}

@media (min-width: 800px) {
	.container {
		width: 50%;
	}

  img{
    height: 500px;
  }

}

@media (min-width: 1200px) {
	.container {
		width: 50%;

	}

  .box1 {
		width: 65%;
    float: right;
	}

	.box_central {
		width: 35%;
    float: left;
	}

  img{
    height: 500px;
    padding-left: 20%;
  }

}
